body {
    font-family: 'Catamaran', sans-serif; 
    color: white;
    font-weight: 400;
    opacity:0.9;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    font-size: 22pt; 
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
h1 {font-family: 'Baloo Tammudu 2', cursive;
    font-size: 90px; 
    font-weight: 900;
    font-stretch: extra-expanded;
}
h2, h3, h4, h5 ,h6 {font-family: 'Bebas Neue', cursive;
    text-decoration: underline; 
}
h2 {text-align: left;
}
img.young {float: right;
    width: 300px;
    height: 275px;
    margin-left: 8px;
}
p {padding: 4px;
}
img.new {float: right;
    width: 296px;
    height: 400px;
    margin-left: 8px;
    padding-top: 10px;
}
img.hoo {float: right;
    width: 225px;
    height: 400px;
    margin-left: 8px;
    padding-top: 10px;
}
.uno {clear: right;
    padding-top: 6px;
}
.dos {clear: right;
    padding-top: 6px;
}
.tres {clear: right;
    padding-top: 6px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
.topnav a.active {
    background-color: hsl(300, 40%, 68%);
    color: white;
    }
    .footer {
        float: left;
        width: 100%;
        background-color: hsl(300, 40%, 68%);
        text-align: center;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    .fa-instagram {
        background: #125688;
        color: white;
    }
    .fa-yahoo {
        background: #430297;
        color: white;
    }
    .fa-google {
        background: #dd4b39;
        color: white;
    }
